{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cadastro/css/style.css' %}">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <p>HP-WEB</p>
    </header>

    <main>
        <div id="conteud">
            <div id="part1">
                <h2>BEM-VINDO(A)</h2>
            
                <p>Sua fonte confiável para informações essenciais sobre a saúde.</p>
            
                <img src="{{ url_for('static', filename=
                'cadastro/img/HPWebCortado.png') }}" alt="">

            </div>

            <div id="login">
                <div class="box">
                    <form action="/token1" id="formId" method="post">
                        <fieldset>
                            <legend><strong>Cadastro</strong></legend>
                            <br>
                            <div class="inputBox">
                                <input type="text" name="nome" id="nome" class="inputUser" required>
                                <label for="nome" class="labelInput">Nome</label>
                            </div>
            
                            <div class="inputBox">
                                <input type="email" name="email" id="email" class="inputUser" required>
                                <label for="email" class="labelInput">Email</label>
                            </div>
            
                            <div class="inputBox">
                                <input type="password" name="senha" id="senha" class="inputUser" required>
                                <label for="senha" class="labelInput">Senha</label>
                            </div>

                            <div class="inputBox">
                                <input type="text" name="frase" id="frase" class="inputUser" required>
                                <label for="frase" class="labelInput">Frase de apoio</label>
                            </div>
            
                            <p>Sexo:</p>
                            <div id="fem">
                                <input type="radio" id="feminino" name="genero" value="feminino" required>
                                <label for="feminino">Feminino</label>
                            </div>
                            <div id="masc"> 
                                <input type="radio" id="masculino" name="genero" value="masculino" required>
                                <label for="masculino">Masculino</label>
                            </div>
                            
                            <div class="inputBox" id="inputDate">
                                <label for="nascimento">Data de Nascimento:</label>
                                <input type="date" name="nascimento" id="nascimento" class="inputUser"required>
                            </div>
                            
                            <div class="inputBox">
                                <!--SELECT-->
                                <select name="estado" id="estado" class="inputUser" required>
                                    <option value="" selected disabled></option>
                                    <option value="CE">Ceará</option>
                                    <option value="RN">Rio Grande do Norte</option>
                                    <option value="RS">Rio Grande do Sul</option>
                                    <option value="SP">São Paulo</option>
                                    <option value="RJ">Rio de Janeiro</option>
                                    <option value="MG">Minas Gerais</option>
                                    <option value="BA">Bahia</option>
                                    <option value="PE">Pernambuco</option>
                                    <option value="DF">Distrito Federal</option>
                                </select>
                                <label class="labelInput" for="estado">Estado</label>
                            </div>
            
                            <div class="inputBox">
                                <input type="text" name="Cidade" id="Cidade" class="inputUser" required>
                                <label for="Cidade" class="labelInput">Cidade</label>
                            </div>

                            <button type="submit" id="submit" name="submit">Enviar</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    <footer>

    </footer>
</body>
<script src="{{ url_for('static', filename=
'cadastro/js/scripts.js') }}"></script>
</html>