@charset "UTF-8";

:root{
    --Verde_escuro: #55864F;
    --Verde_claro: #65AF60;
}

*{
    margin: 0rem;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.own{
    font-weight: bold;
    text-decoration: underline;
}

main{
    min-height: 80vh;
}

header{
    height: 5rem;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--Verde_escuro), var(--Verde_claro));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobileMenu{
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
    display: none;
    height: 0px;
    padding: 0;
}

header > div{
    display: flex;

}

header > div > h1{
    display: inline;
    padding-left: 0.625rem;
}

img.logo{
    width: 6rem;
}

header > div > nav{
    display: inline;
    align-self: flex-end;
}

header > div > nav > ul{
    display: inline;
    width: 50rem;
    padding-left: 4.5rem;
}

header > div > nav > ul > li{
    list-style-type: none;
    display: inline;
    padding-right: 3.7rem;
}

header > div > nav > ul > li > a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

header  img{
    width: 5rem;
    padding-right: 0.625rem;
}

.btnUser{
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.btnUserMenu{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#divUser{
    position: relative;
}

#userMenu{
    list-style-type: none;
    padding: 0 1rem 0.5rem 1rem;
    visibility: hidden;
    overflow-y: hidden;
    height: 0px;
    border-radius: 0 0 5px 5px;
    transition: .2s;
    background-image: linear-gradient(to bottom, var(--Verde_claro), var(--Verde_escuro));
    position: absolute;
    top: 4.71rem;
}

#userMenu li a{
    color: white;
    text-decoration: none;
}

#userMenu li a:hover{
    text-decoration: underline;
}

#btnBar{
    display: none;
    background-color: transparent;
    border: none;
    margin-right: 1rem;
}

#barras{
    width: 4rem;
    display: none;
}

main{
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-around;
}

main > section > div > select{
    width: 120%;
    min-width: 340px;
    height: 106px;
    background-color: black;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: 5px solid var(--Verde_escuro);
    border-radius: 100px;
    padding-left: 9rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 4.5rem;
    cursor: pointer;
}

main > section > div#display{
    position: relative;
}

main > section > div > img#seta{
    width: 6.4rem;
    position: absolute;
    left: 8%;
    top: 12.5%;
}

main > section > #buttons{
    width: 120%;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 114px 114px 114px;
    grid-template-areas: "p"
                        "t"
                        "s";
    gap: 40px;
    justify-content: center;
}

main > section > div#buttons > button{
    color: white;
    background-color: var(--Verde_claro);
    border-radius: 45px;
    border-width: 0px;
    font-size: 30px;
    font-weight: bold;
    border: 0.5px solid rgba(0, 0, 0, 0.442);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.341);
    cursor: pointer;
}

main > section > div#buttons > button.btn:hover{
    background-color: var(--Verde_escuro);
}

main > section > div#buttons > #primeiro{
    grid-area: 'p';
}

main > section > div#buttons > #segundo{
    grid-area: 's';
}

main > section > div#buttons > #terceiro{
    grid-area: 't';
    width: 300px;
    justify-self: center;
    padding: 0px 10px;
}

main > #quadros{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

main > section > div#legenda{
    width: 580px;
    height: 133px;
    border: 5px dashed black;
    border-radius: 20px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    padding-left: 10px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#legenda > p {
    padding: 0;
    margin: 0;
}

main > section > div.mapa{
    width: 700px;
    height: 480px;
    border: 10px solid var(--Verde_escuro);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > section > div > img.mapa{
    width: 680px;
    border-radius: 10px;
    height: 463px;
}


footer{
    background-image: linear-gradient(to bottom, var(--Verde_claro), var(--Verde_escuro));
    display: flex;
    justify-content: space-between;
}

footer > div > h1{
    display: inline;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(42, 40, 40);
    margin-left: 0.625rem;
}

footer > div > p{
    width: 30rem;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: justify;
    color: white;
}

footer > div > div > h2{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer > div > div > ul{
    list-style-position: inside;
    list-style-type: none;
    columns: 2;
    width: 100%;
}

footer > div > div > ul > li{
    padding: 2px;
}

footer > div > div > ul > li > a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(42, 40, 40);
}

footer > div > div > ul > li > a:hover{
    text-decoration: underline;
}

footer > div#abstract{
    padding: 10px;
}

footer > div#contact{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

footer > div > div#help{
    margin-top: 20px;
    font-size: 1rem;
}

footer > div > div#logos{
    background-color: green;
    border-top-left-radius: 5px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 51px;
    align-self: flex-end;
}

footer > div > div > img{
    width: 50px;
}

footer > div > div > img#insta{
    width: 35px;
}

.branco{
    font-size: 3rem;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.105);
    border-radius: 0.2rem;
    padding: 0.5rem;
}


@media (max-width: 1055px) {    
    footer{
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    #nav{
        display: none;
    }

    #user{
        display: none;
    }

    .btnUser{
        display: none;
    }

    #userMenu{
        display: none;
    }

    #barras{
        display: block;
        cursor: pointer;
    }

    #btnBar{
        display: block;
    }

    #mobileMenu{
        background-image: linear-gradient(to bottom, var(--Verde_claro), var(--Verde_escuro));
        display: block;
        position: relative;
    }

    #ulMobile{
        list-style-type: none;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    #ulMobile li a{
        color: white;
        text-decoration: none;
        font-size: 2rem;
    }

    #mobileUser{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #ulMobileUser{
        list-style-type: none;
        padding: 0;
        margin: 0;
        visibility: hidden;
        overflow-y: hidden;
        position: absolute;
        left: 52.5%;
        top: 88%;
        height: 0px;
        transition: .2s;
    }


    #ulMobileUser li a{
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }

    #ulMobileUser li a:hover{
        text-decoration: underline;
    }
    
    footer{
        flex-direction: column;
    }

    #help{
        margin-left: 1.5rem;
    }
    
    footer > div > p{
        width: 25rem;        
        margin-left: 1rem;
    }
    
    footer > div > div > ul{
        columns: unset;
    }
}

@media (max-width: 1105px) {

    main{
        flex-direction: column-reverse;
    }

    main > section > div > select{
        max-width: 40rem;
        align-self: center;
    }

    #display{
        width: 40rem;
    }

    main > section > #buttons{
        width: 80%;
        grid-template-columns: 300px 300px;
        grid-template-rows: 114px 114px;
        grid-template-areas: "p"  "t"
                               "s";
    }

    main > section > div#buttons > #terceiro{
        align-self: center;
        position: absolute;
        padding: 1.5rem;
        top: 70rem;
    }

    main > #quadros{
        align-items: center;
    }

    main > section > div#legenda{
        margin-right: 0;
        align-self: center;
        width: 75%;
    }

    #choice{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main > section > div > img#seta{
        left: 4%;
    }
}

@media (max-width: 750px) {

    main > section > div.mapa{
        max-width: 90%;
        height: auto;
    }

    main > section > div#legenda{
        width: 90%;
        height: 125px;
    }

    main > section > div > img.mapa{
        max-width: 100%;
        height: auto;
    }

    #display{
        width: 80%;
        display: flex;
        justify-content: center;
    }

    main > section > div > select{
        width: 80%;
    }

    main > section > #buttons{
        grid-template-columns: 300px;
        grid-template-rows: 114px 114px 114px;
        grid-template-areas: "p"
                            "t"
                             "s";
    }
    
    main > section > div#buttons > #terceiro{
        align-self: normal;
        position: static;
        padding: 0;
    }

    main > section > div > img#seta{
        left: 15%;
    }
}

@media (max-width: 500px) {
    main > section > div > img#seta{
        left: 3%;
    }
}

@media (max-width: 500px) {
    #abstract > h1{
        font-size: 1.5rem;

    }
    #abstract > p{
        width: 80%;
    }

    main > section > div > select{

        width: 80%;
        max-width: none;
    }

    
}