{% extends 'base.html' %}
{% block conteudo %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    <div id="mobileMenu">
        <ul id="ulMobile">
            <li><a href="http://127.0.0.1:8080/notiJanela">Notícias</a></li>
            <li><a href="http://127.0.0.1:8080/mapa">Mapa</a></li>
            <li><a href="http://127.0.0.1:8080/catJanela"class="own">Catálogo</a></li>
            <li><a href="http://127.0.0.1:8080/sobre">Sobre</a></li>
        </ul>
        <div id="mobileUser">
            <img src="{{ url_for('static', filename=
            'catag_janela/img/anonimo(2).png')}}" alt="" height="70px">
            <button class="btnUserMenu" onclick="menuUserShow1()"></button>
        </div>
        <ul id="ulMobileUser">
            <li><a href="http://127.0.0.1:8080/">Logout</a></li>
            <li><a href="http://127.0.0.1:8080/trocaSenha">Trocar senha</a></li>
        </ul>
        
    </div>

    <main>
        <div>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/influenza.png')}}" alt="">
            <h1><a href="http://127.0.0.1:8080/catalogo influenza" class="whiteText">Influenza</a></h1>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/emoji-verde200.png')}}" alt="emoji-verde" class="emoji">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae corrupti, esse repudiandae qui consequatur quam recusandae, optio, itaque numquam atque ab vero praesentium iusto possimus aut cupiditate a. Aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat numquam corrupti deleniti rem, id</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/covid-19.png')}}" alt="">
            <h1>Covid-19</h1>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/emoji-amarelo200.png')}}" alt="emoji-verde" class="emoji">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae corrupti, esse repudiandae qui consequatur quam recusandae, optio, itaque numquam atque ab vero praesentium iusto possimus aut cupiditate a. Aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat numquam corrupti deleniti rem, id</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/monkey_pox.png')}}" alt="" class="ajuste">
            <h1 class="ajuste">Monkey Pox</h1>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/emoji-vermelho200.png')}}" alt="emoji-verde" class="emoji">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae corrupti, esse repudiandae qui consequatur quam recusandae, optio, itaque numquam atque ab vero praesentium iusto possimus aut cupiditate a. Aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat numquam corrupti deleniti rem, id</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/pneumonia.png')}}" alt="" class="ajuste">
            <h1 class="ajuste">Pneumonia</h1>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/emoji-vermelho200.png')}}" alt="emoji-verde" class="emoji">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae corrupti, esse repudiandae qui consequatur quam recusandae, optio, itaque numquam atque ab vero praesentium iusto possimus aut cupiditate a. Aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat numquam corrupti deleniti rem, id</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/poliomelite.png')}}" alt="" class="ajuste">
            <h1 class="ajuste">Poliomelite</h1>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/emoji-vermelho200.png')}}" alt="emoji-verde" class="emoji">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae corrupti, esse repudiandae qui consequatur quam recusandae, optio, itaque numquam atque ab vero praesentium iusto possimus aut cupiditate a. Aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat numquam corrupti deleniti rem, id</p>
        </div>
        <div>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/sarampo.png')}}" alt="" class="ajuste">
            <h1 class="ajuste">Sarampo</h1>
            <img src="{{ url_for('static', filename=
            'catag_janela/img/emoji-amarelo200.png')}}" alt="emoji-verde" class="emoji">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus vitae corrupti, esse repudiandae qui consequatur quam recusandae, optio, itaque numquam atque ab vero praesentium iusto possimus aut cupiditate a. Aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat numquam corrupti deleniti rem, id</p>
        </div>
    </main>
{% endblock %}