<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename=
    'delete user/css/style.css')}}">
    <title>Delete</title>
</head>
<body>
    <header>
        <h1>HP-WEB</h1>
    </header>

    <main>
        <div id="conteudo">
            <div id="part1">
                <h2>BEM-VINDO(A)</h2>
                
                <div>
                    <p>Sala do Admin</p>
                </div>

                <div><img src="{{ url_for('static', filename=
                    'delete user/img/HPWebCortado.png')}}" alt=""></div>
            </div>

            <div id="part2">
                <div id="tabela">
                    <h1>Usuários Cadastrados</h1>
                    <table>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Senha</th>
                            <th>Frase de recuperação</th>
                            <th>Sexo</th>
                            <th>Idade</th>
                            <th>Estado</th>
                            <th>Cidade</th>
                        </tr>

                        {% for post in posts %}

                        <tr>
                            <td>{{ post[0] }}</td>
                            <td>{{ post[1] }}</td>
                            <td>{{ post[2] }}</td>
                            <td>{{ post[3] }}</td>
                            <td>{{ post[4] }}</td>
                            <td>{{ post[5] }}</td>
                            <td>{{ post[6] }}</td>
                            <td>{{ post[7] }}</td>
                        </tr>

                        {% endfor %}

                    </table>

                    <form action="/tokenDel" id="formId" method="post">
                        <select name="deletar" id="deletar" required>
                            <option value="" selected disabled>Selecione um usuário para deletar</option>
                            
                            {% for post in posts %}

                            <option value="{{ post[1] }}">{{ post[0] }} | {{ post[1] }}</option>

                            {% endfor %}

                        </select>
                        <button type="submit" id="btnDel" id="submit" name="submit">Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>