{% extends 'index.html' %}
{% block conteudo %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-11">
                <h2 class="text-center mb-4">Matrícula de Aluno</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Cadastro</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}