@charset "UTF-8";

:root{
    --Verde_escuro: #55864F;
    --Verde_claro: #65AF60;
}

*{
    margin: 0rem;
    padding: 0rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    height: 5rem;
    width: 100%;
    background-image: linear-gradient(to bottom, var(--Verde_escuro), var(--Verde_claro));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mobileMenu{
    transition: .6s;
    visibility: hidden;
    overflow-y: hidden;
    display: none;
    height: 0px;
    padding: 0;
}

header > div{
    display: flex;

}

header > div > h1{
    display: inline;
    padding-left: 0.625rem;
}

img.logo{
    width: 6rem;
}

header > div > nav{
    display: inline;
    align-self: flex-end;
}

header > div > nav > ul{
    display: inline;
    width: 50rem;
    padding-left: 4.5rem;
}

header > div > nav > ul > li{
    list-style-type: none;
    display: inline;
    padding-right: 3.7rem;
}

header > div > nav > ul > li > a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

header  img{
    width: 5rem;
    padding-right: 0.625rem;
}

.btnUser{
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.btnUserMenu{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

#divUser{
    position: relative;
}

#userMenu{
    list-style-type: none;
    padding: 0 1rem 0.5rem 1rem;
    visibility: hidden;
    overflow-y: hidden;
    height: 0px;
    border-radius: 0 0 5px 5px;
    transition: .2s;
    background-image: linear-gradient(to bottom, var(--Verde_claro), var(--Verde_escuro));
    position: absolute;
    top: 4.71rem;
}

#userMenu li a{
    color: white;
    text-decoration: none;
}

#userMenu li a:hover{
    text-decoration: underline;
}

#btnBar{
    display: none;
    background-color: transparent;
    border: none;
    margin-right: 1rem;
}

#barras{
    width: 4rem;
    display: none;
}



footer{
    background-image: linear-gradient(to bottom, var(--Verde_claro), var(--Verde_escuro));
    display: flex;
    justify-content: space-between;
}

footer > div > h1{
    display: inline;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(42, 40, 40);
    margin-left: 0.625rem;
}

footer > div > p{
    width: 30rem;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    text-align: justify;
    color: white;
}

footer > div > div > h2{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer > div > div > ul{
    list-style-position: inside;
    list-style-type: none;
    columns: 2;
    width: 100%;
}

footer > div > div > ul > li{
    padding: 2px;
}

footer > div > div > ul > li > a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(42, 40, 40);
}

footer > div > div > ul > li > a:hover{
    text-decoration: underline;
}

footer > div#abstract{
    padding: 10px;
}

footer > div#contact{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

footer > div > div#help{
    margin-top: 20px;
    font-size: 1rem;
}

footer > div > div#logos{
    background-color: green;
    border-top-left-radius: 5px;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 51px;
    align-self: flex-end;
}

footer > div > div > img{
    width: 50px;
}

footer > div > div > img#insta{
    width: 35px;
}

.branco{
    font-size: 3rem;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.105);
    border-radius: 0.2rem;
    padding: 0.5rem;
}


@media (max-width: 1055px) {    
    footer{
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    #nav{
        display: none;
    }

    #user{
        display: none;
    }

    .btnUser{
        display: none;
    }

    #userMenu{
        display: none;
    }

    #barras{
        display: block;
        cursor: pointer;
    }

    #btnBar{
        display: block;
    }

    #mobileMenu{
        background-image: linear-gradient(to bottom, var(--Verde_claro), var(--Verde_escuro));
        display: block;
        position: relative;
    }

    #ulMobile{
        list-style-type: none;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
    }

    #ulMobile li a{
        color: white;
        text-decoration: none;
        font-size: 2rem;
    }

    #mobileUser{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    #ulMobileUser{
        list-style-type: none;
        padding: 0;
        margin: 0;
        visibility: hidden;
        overflow-y: hidden;
        position: absolute;
        left: 52.5%;
        top: 88%;
        height: 0px;
        transition: .2s;
    }


    #ulMobileUser li a{
        color: white;
        text-decoration: none;
        font-size: 1rem;
    }

    #ulMobileUser li a:hover{
        text-decoration: underline;
    }
    
    footer{
        flex-direction: column;
    }

    #help{
        margin-left: 1.5rem;
    }
    
    footer > div > p{
        width: 25rem;        
        margin-left: 1rem;
    }
    
    footer > div > div > ul{
        columns: unset;
    }
}


.Pagngeral{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.noticia{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-start;
    padding-left: 1rem;
}

.text{
    margin-left: 30px;
    margin-top: 20px;
}

.linhanot{
    width: 90%;
    height: 15px;
    margin-top: 30px;
    background-color: #FFFFFF;
    border-top: solid #000000;
    border-width: 2px;
}

.imgnot{
    margin-top: 20px;
    border-radius: 8px;
    width: 350px;
    height: 222px;
}

.timeAndLocal{
    color: #1C7816;
    margin-top: 20px;
}

.lorem{
    margin-top: 20px;
    width: 50%;
    min-width: 27rem;
}

#espaco{
    margin-top: 2rem;
}

#submit{
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top: 1rem;
    background-color: rgb(244, 237, 237);
}

#showFil{
    height: 760px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.325);
    padding: 0 0.2rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.321);
}

#fil{
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
}

#filtro{
    visibility: hidden;
    overflow-x: hidden;
    width: 0px;
    /*width: 415px;*/
    height: 760px;
    background-color: #FFFFFF;
    border: solid #000000;
    border-width: 3px;
    border-radius: 8px;
    transition: 0.3s;
}

#filtro h3{
    font-size: 24px;
}

#filtro h2{
    font-size: 30px;
}

main{
    min-height: 80vh;
}

.own{
    font-weight: bold;
    text-decoration: underline;
}

main{
    min-height: 80vh;
}

main > section > div > div#filtro > div.conteud > h3{
    margin-top: 20px;

}

.conteud{
    margin-top: 50px;
    margin-left: 25px;
    justify-content: space-around;
}

.captcha{
    width: 34px;
    height: 33px;
    margin-top: 15px;
    background-color: #FFFFFF;
    border: solid #000000;
    border-width: 2px;
    border-radius: 7px;
}

.captchaAndtext{
    display: flex;
    margin-top: 10px;
}

.opçao{
    margin-left: 20px;
    margin-top: 22px;
}

.linha{
    width: 320px;
    height: 15px;
    margin-top: 30px;
    background-color: #FFFFFF;
    border-top: solid #000000;
    border-width: 2px;
}

form div{
    display: block;
}

input{
    width:34px;
    height: 33px;
    border-radius: 7px;
}

.checkbox{
    display: flex;
    margin-top: 25px;
    align-items: center;
    gap: 10px;
    font-size: 22px;
}

#xy > a{
    color: black;
    text-decoration: none;
}

#xy > a:hover{
    text-decoration: underline;
}

@media (max-width: 935px) {
    .noticia{
        flex-direction: column;
        width: 80%;
        margin-left: 0rem;
        
    }
    .linhanot{
        width: 100%;
    }
    .imgnot{
        height: 100%;
        width: 100%;
    }
    .text{
        margin-left: 0;
    }

    .lorem{
        min-width: auto;
        width: 100%;
    }

    #noticias{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .linha{
        width: 280px;
    }

    #fil{
        right: 0;
    }
}

@media (max-width: 520px) {
    .timeAndLocal, .lorem{
        margin: 0.5rem 0;
    }
    
    #abstract > h1{
        font-size: 1.5rem;

    }
    #abstract > p{
        width: 80%;
    }
}

