<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Janela de notícias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='not Janela/css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body id="bodyId">
    <header>
        <div>
            <h1><a href="http://127.0.0.1:8080/inicior"><img src="{{ url_for('static', filename='not Janela/img/HPWeb (3).png') }}" alt="" class="logo"></a></h1>
            <nav id="nav">
                <ul>
                    <li><a href="http://127.0.0.1:8080/notiJanela" class="own">Notícias</a></li>
                    <li><a href="http://127.0.0.1:8080/mapa">Mapa</a></li>
                    <li><a href="http://127.0.0.1:8080/catJanela">Catálogo</a></li>
                    <li><a href="http://127.0.0.1:8080/sobre">Sobre</a></li>
                </ul>
            </nav>
        </div>

        <div id="divUser">
            <button class="btnUser" onclick="menuUserShow()">{{ nome[1][0] }}</button>
                <ul id="userMenu">
                    <li><a href="http://127.0.0.1:8080/">Logout</a></li>
                    <li><a href="http://127.0.0.1:8080/trocaSenha">Trocar senha</a></li>
                </ul>
            <img src="{{ url_for('static', filename='not Janela/img/anonimo(2).png') }}" alt="" id="user">
        </div>
        <button id="btnBar" onclick="menuShow()"><img src="{{ url_for('static', filename='not Janela/img/barras.png') }}" alt="" id="barras"></button>
    </header>

    <div id="mobileMenu">
        <ul id="ulMobile">
            <li><a href="http://127.0.0.1:8080/notiJanela" class="own">Notícias</a></li>
            <li><a href="http://127.0.0.1:8080/mapa">Mapa</a></li>
            <li><a href="http://127.0.0.1:8080/catJanela">Catálogo</a></li>
            <li><a href="http://127.0.0.1:8080/sobre">Sobre</a></li>
        </ul>
        <div id="mobileUser">
            <img src="{{ url_for('static', filename='not Janela/img/anonimo(2).png') }}" alt="" height="70px">
            <button class="btnUserMenu" onclick="menuUserShow1()">{{ nome[1][0] }}</button>
        </div>
        <ul id="ulMobileUser">
            <li><a href="http://127.0.0.1:8080/">Logout</a></li>
            <li><a href="http://127.0.0.1:8080/trocaSenha">Trocar senha</a></li>
        </ul>
        
    </div>

    <main>
        <section>
            <!-- noti1 -->
            <div class = "Pagngeral">
                <div id="noticias">
                    {% for post in posts %}
                    <div class = "noticia">
                        <div>
                            <!--{{ url_for('static', filename='not Janela/img/H3N3 gripe.jpg') }}-->
                            <img class = "imgnot" src="{{ post[1] }}">
                        </div>

                        <div class = "text">
                            <h2 id = "xy"><a href="{{ post[6] }}">{{ post[2] }}</a></h2>
                            <p class = "timeAndLocal "> há {{ post[4] }} semana | {{ post[3] }}</p>
                            <p class = "lorem"> {{ post[5] }}</p>
                        </div>
                    </div>
                    <div class = "linhanot"></div>

                    {% endfor %}

                </div>

                <!--Filtro-->

                <section id="fil">
                    <button id="showFil" onclick="showFilter()"> < </button>
                    <div id = "filtro">
                        <div class = "conteud">
                            <h2> Filtro</h2>
                            <h3> Entenda o planejamento das cidades envolvidas</h3>
                            <div class = "linha">
                            </div>
                            <h3> Veja o mapeamento de atendimentos médicos da região</h3>
                            <div class = "linha">
                            </div>
                            <!--1° filtro-->
                            <form action="/tokenPes" method="post">
                                
                                <h3 class = "PerioANDartig"> Artigos relacionados</h3>
                                <div class="checkbox">
                                    <input type="checkbox" name = "localAl" value="Alexandria" id="AL">
                                    <label for="AL" class="inf">Alexandria</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" name = "localPe" value="Pereiro" id="PE">
                                    <label for="PE" class="inf">Pereiro</label>
                                </div>
                                    <!--2° filtro-->
                                <h3 id="espaco" class = "PerioANDartig">Organizar por data de publicação</h3>
                                <div class="checkbox">
                                    <input type="checkbox" name = "data1" id="1s" value="1">
                                    <label for="1s" class="inf">Há uma semana</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" name = "data2" id="2s" value="2">
                                    <label for="2s" class="inf">Há 2 semanas ou mais</label>
                                </div>
                                <button type="submit" id="submit">Pesquisar</button>
                            </form>
                    
                        </div>
                    </div>
                </section>
            </div>
        </section> 
    </main>

    <footer>
        <div id="abstract">
            <h1><img src="{{ url_for('static', filename='not Janela/img/HPWeb (3).png') }}" alt="" class="logo"></h1>
            <h1>HP WEB</h1>
            <p>Planejado com o intuito de disseminar informações confiáveis sobre a saúde em suas respectivas cidades (Pau dos Ferros - RN, Alexandria - RN e Pereiro - CE). Nosso objetivo primordial é fomentar a propagação de fatos verídicos e facilitar o acesso a essas informações.</p>
        </div>

        <div id="contact">
            <div id="help">
                <h2>SUPORTE</h2>
                <ul id="ajuda">
                    <li><a href="">Informações da empresa</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Telefone</a></li>
                    <li><a href="">Chat</a></li>
                </ul>
            </div>
            <div id="logos">
                <img src="{{ url_for('static', filename='not Janela/img/twitter.png') }}" alt="twitter" >
                <img src="{{ url_for('static', filename='not Janela/img/instagram(1).png') }}" alt="instagram" id="insta">
                <img src="{{ url_for('static', filename='not Janela/img/facebook.png') }}" alt="facebook">
                <img src="{{ url_for('static', filename='not Janela/img/discord.png') }}" alt="discord">
            </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='not Janela/js/scripts.js') }}"></script>
</html>